<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity=
            "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'story_cards/style.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'story_cards/javascript.js' %}"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
      <div class="navbar-brand">StoryCards</div>


      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if request.user.is_superuser %}
          <a class="nav-item nav-link" href="{% url 'story-cards:list-teams' %}">All Teams</a>
          <a class="nav-item nav-link" href="{% url 'story-cards:list-decks' %}">All Decks</a>
          {% endif %}
          <a class="nav-item nav-link" href="{% url 'story-cards:list-user-teams' %}">My teams</a>
          <a class="nav-item nav-link" href="{% url 'story-cards:list-user-decks' %}">My decks</a>
        </div>
      </div>
      <form class="form-inline mr-5" method="get" action="{% url 'story-cards:search-deck' %}">
        <input class="form-control mr-sm-2" name="deck_phrase" type="search" placeholder="Search for decks" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="dropdown mr-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle=
                "dropdown" aria-haspopup="true" aria-expanded="false">
          Hi, {{ user }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
        </div>
      </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity=
        "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity=
        "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>