{% extends 'base.html' %}

{% block title %}
    Create deck
{% endblock %}

{% block content %}
    {% if request.user == deck.author %}
    <h2>Edit deck</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info mr-2" role="button">Add a new flashcard to the deck</button>
    </form><br>
    <ul>Flashcards:
    {% for flashcard in flashcards %}
        <li>{{ flashcard }} <a href="{% url 'story-cards:delete-flashcard' team.id deck.id flashcard.id %}">Delete</a>
            <a href="{% url 'story-cards:edit-flashcard' deck.team.id deck.id flashcard.id %}">Edit</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'story-cards:team-detail' team.id %}" class="btn btn-info mr-2" role="button">Done</a>
    {% else %}
    Only the author can edit the deck. Sorry.
    {% endif %}
{% endblock %}