{% extends 'home.html' %}

{% block title %}
    Decks
{% endblock %}

{% block content %}
    <div class="list-group">
    {% for deck in deck_list %}
        <br>
        <div class="row">
            <div class="col col-md-4">
                <a href="{{ deck.get_absolute_url }}" class="list-group-item list-group-item-action">
                    {{ deck }} ({{ deck.team.name }})</a>
            </div>
            <a href="{% url 'story-cards:edit-deck' deck.team.id deck.id %}" class="btn btn-primary" role="button">
                Edit deck</a>
        </div>

    {% endfor %}
    </div>
{% endblock %}