{% extends "base.html" %}

{% block title %} Results {% endblock %}

{% block content %}
{% for deck in searched_deck_list %}
    <div class="row mb-1 mt-1">
        <div class="col col-md-4">
            <a href="{{ deck.get_absolute_url }}" class="list-group-item list-group-item-action">
                {{ deck }}</a>
        </div>
        <a href="{% url 'story-cards:edit-deck' deck.team.id deck.id %}" class="btn btn-primary mr-2" role="button">
            Edit deck</a>
        <a href="{% url 'story-cards:learn-flashcards' deck.id %}" class="btn btn-primary mr-2" role="button">
            Learn</a>
        <a href="{% url 'story-cards:play-storycards' deck.id %}" class="btn btn-primary" role="button">
            StoryCards</a>
    </div>
{% endfor %}
{% endblock %}