<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teams</title>
</head>
<body>
    <p>List of all teams
    <ul>
        {% for team in team_list %}
            <li><a href="{{ team.get_absolute_url }}">{{ team }}</a> <a href="{% url 'story-cards:edit-team' team.id %}">Edit team</a></li>
        {% endfor %}
    </ul>
    </p>
</body>
</html>