{% extends 'base.html' %}

{% block title %}
    Team detail
{% endblock %}

{% block content %}
    Team name: {{ team.name }}<br>
    Team description: {{ team.description }}<br>
    Team students:
    {% for student in students %}
        {{student}},
    {% endfor %}
    <br>
    <div class="list-group">Decks:
    {% for deck in decks %}
        <div class="row mb-1">
            <div class="col col-md-4">
                <a href="{{ deck.get_absolute_url }}" class="list-group-item list-group-item-action">
                    {{ deck }}</a>
            </div>
            <a href="{% url 'story-cards:edit-deck' deck.team.id deck.id %}" class="btn btn-info mr-2" role="button">
                Edit deck</a>
            <a href="{% url 'story-cards:delete-deck' deck.id %}" class="btn btn-info mr-2" role="button">
                Delete deck</a>
            <a href="{% url 'story-cards:re-assign-deck' deck.id %}" class="btn btn-info mr-2" role="button">
            Add deck to another team</a>
            <a href="{% url 'story-cards:learn-flashcards' deck.id %}" class="btn btn-success mr-2" role="button">
                Learn</a>
            <a href="{% url 'story-cards:play-storycards' deck.id %}" class="btn btn-success" role="button">
                Play StoryCards</a>
        </div>

    {% endfor %}
    <div>
        <a href="{% url 'story-cards:add-deck' team.id %}" class="btn btn-primary" role="button">Add a deck to the team</a>
    </div>
{% endblock %}