{% extends 'base.html' %}

{% block title %}
    Team detail
{% endblock %}

{% block content %}
    <p>Team name: {{ team.name }}<br>
    Team description: {{ team.description }}<br>
    Team students:
    {% for student in students %}
        {{student}},
    {% endfor %}
    <br>
    <ul> Team decks
    {% for deck in decks %}
        <li>{{ deck }}<a href="{% url 'story-cards:edit-deck' team.id deck.id %}">Edit deck</a></li>
    {% endfor %}
    </ul>
    </p>
    <a href="{% url 'story-cards:add-deck' team.id %}">Add a deck to the team</a>
{% endblock %}